.banner {
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../imagens/background.jpg);
    min-height: 100vh; 
    width: 100%;  
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;    
    background-repeat: no-repeat;
    text-align: center;
}

.banner-buttons {
    display: flex;  
    margin-bottom: 50px;  
}

.banner-img img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

@media (max-width: 768px) {
    .banner {
        background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(/assets/imagens/background2.jpg);
    }
    .banner-buttons {     
        flex-direction: column;
    }

    .banner-buttons div {     
        margin: 20px;
    }    
}