* {
    font-family:'Segoe UI', Helvetica, sans-serif;    
    margin: 0;  
}

html {
    scroll-behavior: smooth;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.bold {
    font-weight: bold;
}

.txtcenter {
    text-align: center;
}

.clear {
    clear: both;
}

h2 {
    color: whitesmoke;
    font-size: 22px;    
}

h3 {
    color: whitesmoke;
    font-size: 20px;    
}

h4 {
    color: whitesmoke;
    font-size: 18px;    
}

h5 {
    color: whitesmoke;
    font-size: 16px;    
}

i {
    color: #4976FC;
    font-size: 18px;
    padding: 5px 10px 0px 10px;
}

p {
    color: rgb(39, 39, 39);    
    font-size: 18px;
}

a {
    color: whitesmoke;
    font-style: normal;
    text-decoration: none;
}

.btn {
    background: transparent;
    border: solid 1px whitesmoke;
    color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
    margin: 25px;
    padding: 10px 100px;
}

a.btn:hover {
    background-color: rgba(255, 255, 255, 0.185);
}

.copyright {
    color: whitesmoke;
    font-size: 13px;
    padding-top: 20px;
    text-align: center;
}

body {
    background-color: #e7f0ff;
    height: 100%;
}

main {   
    height: 100%;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    position: relative;
}

.cabecalho {
    background: linear-gradient(90deg, rgba(36,58,125,39) 0%, rgba(65,105,226,89) 50%, rgba(36,58,125,39) 100%)  
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 200px;
}

.logo2 {
    display: none;
}

.redes-sociais {   
    align-items: center;    
    display: flex;
    position: absolute;
    padding-top: 4px;
    right: 50px;
}

.redes-sociais i:hover {
    color: #121D3D;
}

.topo {
    background: #4976FC;
    background: linear-gradient(90deg, rgba(36,58,125,39) 0%, rgba(65,105,226,89) 50%, rgba(36,58,125,39) 100%);
    display: flex;
    height: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #121D3D;
}

::-webkit-scrollbar-thumb {
    background-color: #4169E2;
    border-radius: 50px;
}

.margin {
    padding: 30px;
}


  

